<h1>Movies</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Director</th>
      <th scope="col">Producer</th>
      <th scope="col">Episode</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.node.title %></td>
        <td><%= movie.node.release_date %></td>
        <td><%= movie.node.director %></td>
        <td><%= movie.node.producers %></td>
        <td><%= movie.node.episode_id %></td>
        <td><%= link_to 'See more', movie_url(movie.node.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
