<p id="notice"><%= notice %></p>

<h1><%= @movie["title"] %> </h1>
&nbsp;
&nbsp;
<p>
  <strong>Opening Crawl:</strong>
  <%= @movie["opening_crawl"] %>
</p>
&nbsp;
&nbsp;
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Episode</th>
      <th scope="col">Director</th>
      <th scope="col">Producer</th>
      <th scope="col">Release Date</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @movie["episode_id"] %></td>
        <td><%= @movie["director"] %></td>
        <td><%= @movie["producer"] %></td>
        <td><%= @movie["release_date"] %></td>        
      </tr>
  </tbody>
</table>


<div class="row">
  <div class="col-sm-4">
    <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Characters</th>
      </tr>
    </thead>
    <tbody>
      <% @movie["characters"].each do |character| %>
        <% @characters.each do |value| %>
          <% if character == value["url"] %>
            <% id = character.split("/")[5]  %>
            <tr>
              <td>
                <li scope="col"><%= link_to value["name"], character_url(id) %></li>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>      
    </tbody>
  </table>
</p>
</div>
  <div class="col-sm-4">

  <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Planets</th>
      </tr>
    </thead>
    <tbody>
      <% @movie["planets"].each do |planet| %>
        <% @planets.each do |value| %>
          <% if planet == value["url"] %>
            <% id = planet.split("/")[5]  %>
            <tr>
              <td>
                <li scope="col"><%= link_to value["name"], planet_url(id) %></li>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>      
    </tbody>
  </table>
</p>
</div>
  <div class="col-sm-4">
  <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Starships</th>
      </tr>
    </thead>
    <tbody>
      <% @movie["starships"].each do |starship| %>
        <% @starships.each do |value| %>
          <% if starship == value["url"] %>
            <% id = starship.split("/")[5]  %>
            <tr>
              <td>
                <li scope="col"><%= link_to value["name"], starship_url(id) %></li>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>      
    </tbody>
  </table>
</p>
</div>
</div>


<%= link_to 'Back', movies_path %>

