<p id="notice"><%= notice %></p>

<h1><%= @movie.title %> </h1>
&nbsp;
&nbsp;
<p>
  <strong>Opening Crawl:</strong>
  <%= @movie.opening_crawl %>
</p>
&nbsp;
&nbsp;
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Episode</th>
      <th scope="col">Director</th>
      <th scope="col">Producer</th>
      <th scope="col">Release Date</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @movie.episode_id %></td>
        <td><%= @movie.director %></td>
        <td><%= @movie.producers %></td>
        <td><%= @movie.release_date %></td>        
      </tr>
  </tbody>
</table>


<div class="row">
  <div class="col-sm-4">
    <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Characters</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.character_connection.edges.each do |character| %>
        <tr>
          <td>
            <li scope="col"><%= link_to character.node.name, character_url(character.node.id) %></li>
          </td>
        </tr> 
      <% end %>    
    </tbody>
  </table>
</p>
</div>
  <div class="col-sm-4">

  <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Planets</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.planet_connection.edges.each do |planet| %>
        <tr>
          <td>
            <li scope="col"><%= link_to planet.node.name, planet_url(planet.node.id) %></li>
          </td>
        </tr> 
      <% end %>   
    </tbody>
  </table>
</p>
</div>
  <div class="col-sm-4">
  <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Starships</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.starship_connection.edges.each do |starship| %>
        <tr>
          <td>
            <li scope="col"><%= link_to starship.node.name, starship_url(starship.node.id) %></li>
          </td>
        </tr>
      <% end %>      
    </tbody>
  </table>
</p>
</div>
</div>


<%= link_to 'Back', movies_path %>

