<p id="notice"><%= notice %></p>

<h1>Planets</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rotation period</th>
      <th scope="col">Orbital period</th>
      <th scope="col">Diameter</th>
      <th scope="col">Climate</th>
      <th scope="col">Gravity</th>
      <th scope="col">Terrain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planets.each do |planet| %>
      <tr>
        <td><%= planet["name"] %></td>
        <td><%= planet["rotation_period"] %></td>
        <td><%= planet["orbital_period"] %></td>
        <td><%= planet["diameter"] %></td>
        <td><%= planet["climate"] %></td>
        <td><%= planet["gravity"] %></td>
        <td><%= planet["terrain"] %></td>
        <% id = planet["url"].split("/")[5]  %>
        <td><%= link_to 'See more', planet_url(id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

