<p id="notice"><%= notice %></p>
<h1><%=@planet.name %> </h1>
&nbsp;
&nbsp;

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rotation period</th>
      <th scope="col">Orbital period</th>
      <th scope="col">Diameter</th>
      <th scope="col">Climate</th>
      <th scope="col">Gravity</th>
      <th scope="col">Terrain</th>
      <th scope="col">Surface water</th>
      <th scope="col">Population</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @planet.rotation_period %></td>
        <td><%= @planet.orbital_period %></td>
        <td><%= @planet.diameter %></td>
        <td><%= @planet.climates %></td>
        <td><%= @planet.gravity %></td>
        <td><%= @planet.terrains %></td>
        <td><%= @planet.surface_water %></td>
        <td><%= @planet.population %></td>       
      </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-4">

<p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Residents:</th>
      </tr>
    </thead>
    <tbody>
      <% @planet.resident_connection.edges.each do |character| %>
        <tr>
          <td>
            <li scope="col"><%= link_to character.node.name, character_url(character.node.id) %></li>
          </td>
        </tr> 
      <% end %>    
    </tbody>
  </table>
</p>

</div>
<div class="col-sm-4">

<p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Films:</th>
      </tr>
    </thead>
    <tbody>
      <% @planet.film_connection.edges.each do |film| %>
        <tr>
          <td>
            <li scope="col"><%= link_to film.node.title, movie_url(film.node.id) %></li>
          </td>
        </tr>
      <% end %>      
    </tbody>
  </table>
</p>

</div></div>


<%= link_to 'Back', planets_path %>
