<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Height</th>
      <th scope="col">Mass</th>
      <th scope="col">Hair color</th>
      <th scope="col">Skin color</th>
      <th scope="col">Eye color</th>
      <th scope="col">Birth year</th>
      <th scope="col">Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character["name"] %></td>
        <td><%= character["height"] %></td>
        <td><%= character["mass"] %></td>
        <td><%= character["hair_color"] %></td>
        <td><%= character["skin_color"] %></td>
        <td><%= character["eye_color"]%></td>
        <td><%= character["birth_year"] %></td>
        <td><%= character["gender"] %></td>
        <% id = character["url"].split("/")[5]  %>
        <td><%= link_to 'See more', character_url(id) %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

