<p id="notice"><%= notice %></p>
<h1><%=@character.name %> </h1>
&nbsp;
&nbsp;

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Height</th>
      <th scope="col">Mass</th>
      <th scope="col">Hair color</th>
      <th scope="col">Skin color</th>
      <th scope="col">Eye color</th>
      <th scope="col">Birth year</th>
      <th scope="col">Gender</th>
      <th scope="col">Homeworld</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @character.height %></td>
        <td><%= @character.mass %></td>
        <td><%= @character.hair_color %></td>
        <td><%= @character.skin_color %></td>
        <td><%= @character.eye_color %></td>
        <td><%= @character.birth_year %></td>
        <td><%= @character.gender %></td>
        <td><%= link_to @character.homeworld.name, planet_url(@character.homeworld.id) %></td>        
      </tr>
  </tbody>
</table>


<div class="row">
  <div class="col-sm-4">
<p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Films:</th>
      </tr>
    </thead>
    <tbody>
      <% @character.film_connection.edges.each do |film| %>
        <tr>
          <td>
            <li scope="col"><%= link_to film.node.title, movie_url(film.node.id) %></li>
          </td>
        </tr>
      <% end %>      
    </tbody>
  </table>
</p>

</div>
  <div class="col-sm-4">

<p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Starships:</th>
      </tr>
    </thead>
    <tbody>
      <% @character.starship_connection.edges.each do |starship| %>
        <tr>
          <td>
            <li scope="col"><%= link_to starship.node.name, starship_url(starship.node.id) %></li>
          </td>
        </tr>
      <% end %>      
    </tbody>
  </table>
</p>

