<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @character.height %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @character.mass %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @character.hair_color %>
</p>

<p>
  <strong>Skin color:</strong>
  <%= @character.skin_color %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @character.eye_color %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @character.birth_year %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Homeworld:</strong>
  <%= @character.homeworld %>
</p>

<p>
  <strong>Films:</strong>
  <%= @character.films %>
</p>

<p>
  <strong>Starships:</strong>
  <%= @character.starships %>
</p>

<p>
  <strong>Url:</strong>
  <%= @character.url %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
