<p id="notice"><%= notice %></p>
<h1><%= @starship["name"] %> </h1>
&nbsp;
&nbsp;

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Cost in credits</th>
      <th scope="col">Length</th>
      <th scope="col">Max atmosphering speed</th>
      <th scope="col">Crew</th>
      <th scope="col">Passengers</th>
      <th scope="col">Cargo capacity</th>
      <th scope="col">Consumables</th>
      <th scope="col">Hyperdrive rating</th>
      <th scope="col">Mglt</th>
      <th scope="col">Starship class</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @starship["model"] %></td>
        <td><%= @starship["manufacturer"] %></td>
        <td><%= @starship["cost_in_credits"] %></td>
        <td><%= @starship["length"] %></td>
        <td><%= @starship["max_atmosphering_speed"] %></td>
        <td><%= @starship["crew"] %></td>
        <td><%= @starship["passengers"] %></td>
        <td><%= @starship["cargo_capacity"] %></td>
        <td><%= @starship["consumables"] %></td>
        <td><%= @starship["hyperdrive_rating"] %></td>
        <td><%= @starship["MGLT"] %></td>
        <td><%= @starship["starship_class"] %></td>

                
      </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-4">

<p>
<table class="table">
  <thead class="thead-dark">
      <tr>
        <th>Pilots:</th>
      </tr>
    </thead>
    <tbody>
      <% @starship["pilots"].each do |pilot| %>
        <% @characters.each do |value| %>
          <% if pilot == value["url"] %>
            <% id = pilot.split("/")[5]  %>
            <tr>
              <td>
                <li><%= link_to value["name"], character_url(id) %></li>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>      
    </tbody>
  </table>
</p>

</div>
  <div class="col-sm-4">
<p>
<table class="table">
  <thead class="thead-dark">
      <tr>
        <th>Films:</th>
      </tr>
    </thead>
    <tbody>
      <% @starship["films"].each do |film| %>
        <% @movies.each do |value| %>
          <% if film == value["url"] %>
            <% id = film.split("/")[5]  %>
            <tr>
              <td>
                <li><%= link_to value["title"], movie_url(id) %></li>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>      
    </tbody>
  </table>
</p>
</div></div>

<%= link_to 'Back', starships_path %>
